/*gis.html中所需要的css*/
* {
  margin: 0px;
  padding: 0px;
}

.yaosu {
  position: absolute;
  z-index: 99;
  right: 0px;
  margin-right: 10px;
  top: 30px;
}

#map {
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0px;
  width: 100%;
}

input[type='button'] {
  border: none;
  background: #01579b;
  padding: 4px 14px;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}

.ol-zoom {
  display: none;
}

.label {
  color: #000;
}

.computed {
  position: fixed;
  bottom: 30px;
  right: 40px;
  width: 200px;
}

#DZDT, #YXT {
  padding: 4px 12px;
  background: #fff;
  color: #000;
}

.times p {
  width: 100px;
  display: inline-block;
}

.times .time {
  display: inline-block;
}
.p{
  position: fixed;
  bottom: 68px;
  left: 50%;
  margin-left: -200px;
  z-index: 999;
  display: flex;
  align-items: center;
  background: #fff;
}

.test {
  width: 400px;
  height: 20px;
  /*position: fixed;*/
  /*z-index: 999;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*margin-left: -200px;*/
  /*margin-top: -10px;*/
}

.contral {
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #3498DB;
  cursor: pointer;
  color: #fff;
  /*position: fixed;*/
  /*z-index: 999;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*margin-left: -25px;*/
  /*margin-top: -45px;*/
  text-align: center;
}
.BarBeginTime{
  color: #000;
}
.BarFinishTime{
  color: #000;
}

/*单船轨迹距离提示框*/
.tooltip {
  position: relative;
  background: rgba(30, 144, 255, 0.9);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 1;
  white-space: nowrap;
}

.tooltip-static {
  background-color: '#1E90FF';
  color: white;
  border:solid red;
  font-weight: bold;
}
